.navss > ul li a {
    color: green;
    font-size:20px;
}
.navss > ul li a:hover {
    color: deepskyblue;
    text-decoration: underline;
}
.navss{
    padding:10px;
}
*{
    font-family: 'Saira Stencil One', cursive;
  }
