<app-navbar></app-navbar>
<div class="container mt-5">
    <img src="assets/backgroun.jpg"  style="box-shadow: 1px 1px 1px 7px grey;" alt="">
    <div class="container p-3" style="opacity:0.8; background:black;width:50%; position: absolute; top: 70%; left: 30%">
        <h3 style="font-weight: bolder;color:white" class="text-center" ><br> Creer Votre Propre BLog Personnel et Partager le Avec Les Autres!</h3>
        <button class="btn btn-lg btn-outline-warning btn-block" routerLink='/login'>LOGIN</button>
    </div>
</div>
<div class="container d-flex mt-5">
    <div class="container mr-4" id="leftC">
            
        </div>
    
</div>
<div class="container d-flex mt-5">
        <div class="container" id="rightC">
                <img src="assets/animal.JPG" alt="" style="width: 90%; height:100%">
            </div>
        <div class="container mr-4" id="leftC">
                <div class="container d-flex" id="categAndLine">
                    <h5><span style="color: grey"> Categorie:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> Animaux </span></h5>

                </div>
                <div class="container mt-2">
                <h2 style="color: red">Les médias nord-coréens critiquent rarement la Chine</h2>
                    <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white"> Non toujours avec le pied soutient, un orc avec un collier et sans accumulation, une masse de choses commencées ou lorem. Véhicule lac avec un vestibule laid, autant que les tuyaux, la douleur du lit de lecture</p>
            </div>
            <div class="container d-flex">
                <h4 id="AuthName" class="mr-2" style="color: white">Auteur: Emily | </h4>
                <h4>21 Dec 2019</h4>
            </div>
            <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
            </div>

    </div>
<div class="container d-flex mt-5">
  <div class="container mr-4" id="leftC">
    <div class="container d-flex" id="categAndLine">
      <h5><span style="color: grey"> Categorie:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> News </span></h5>

    </div>
    <div class="container mt-2">
      <h2 style="color: red">AMAZON</h2>
      <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white"> Ensemble, ces entités ont généré un revenu de 5,56 milliards de dollars, ce qui représente une augmentation de 36% par rapport à l'année fiscale précédente. Cependant, elles ont également enregistré une perte consolidée de 834 millions de dollars.</p>
    </div>
    <div class="container d-flex">
      <h4 id="AuthName" class="mr-2" style="color: white">Auteur: John | </h4>
      <h4>18 Dec 2020</h4>
    </div>
    <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
  </div>
  <div class="container" id="rightC">
    <img src="assets/aws.png" alt="" style="width: 90%; height:100%">
  </div>
</div>
<div class="container d-flex mt-5">
  <div class="container" id="rightC">
    <img src="assets/burger.JPG" alt="" style="width: 90%; height:100%">
  </div>
  <div class="container mr-4" id="leftC">
    <div class="container d-flex" id="categAndLine">
      <h5><span style="color: grey"> Categorie:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> Food </span></h5>

    </div>
    <div class="container mt-2">
      <h2 style="color: red">C'est quoi un Burger</h2>
      <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white"> Il existe de nombreuses variantes qui incluent différents types de viandes, de pains, de garnitures et de sauces, permettant une grande variété de burgers. Le burger est un plat populaire dans de nombreux pays.</p>
    </div>
    <div class="container d-flex">
      <h4 id="AuthName" class="mr-2" style="color: white">Auteur: Camilia | </h4>
      <h4>21 Oct 2020</h4>
    </div>
    <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
  </div>

</div>

